@import url('https://fonts.googleapis.com/css?family=Yantramanav:100');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400');

.form {
    width: 340px;
    margin: 0px 15px 0px 15px;
    padding: 0px 15px 0px 15px;
    background: #34495e;
    border-radius: 19px;
    align: center;
}

.form h1 {
    font-size: 15px;
    font-weight: bold;
    color: #bdb5aa;
    padding-bottom: 10px;
    border-bottom: 1px solid #EBE6E2;
    border-height: 40px;
}

.form h1 .log-in,
.form h1 .sign-up {
    text-transform: uppercase;
}

.form h1 .log-in {
    color: #000000;
    padding-right: 12px;
}

.form h1 .sign-up {
    color: #ffffff;
    padding-left: 12px;
}


.form label[for=showPassword] {
    display: inline-block;
    margin-bottom: 10px;
    font-size: 15px;
    font-weight: 350;
    text-transform: capitalize;
}

.form input[type=checkbox] {
    margin: -1px 5px 0 1px;
}

html, body{
    margin: 0;
    padding:0;
    height:100%;
    width: 100%;
}
.login-page{
    height:100%;
    width: 100%;
    margin: auto;
    background: url("http://wallpaper-house.com/data/out/12/wallpaper2you_521398.jpg") no-repeat 50% 50%;
    display: table;
    top: 0;
    background-size: cover;
}


